<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order a Doctor Logged-In</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{'/user/' + ${user.id} + '/logged'}">Order a Doctor</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!--                    <li class="active"><a href="#">Link </a></li>-->
                <li class="active"><a href="#" th:href="@{'/user/' + ${user.id} + '/find_doctor'}">Find Doctor</a></li>
                <li><a href="#" th:href="@{'/user/' + ${user.id} + '/show'}">View Profile</a></li>

            </ul>

            <p class="navbar-text navbar-right">Signed in as
                <a style="font-weight:bold" href="#" th:href="@{'/user/' + ${user.id} + '/show'}"
                   class="navbar-link" th:text="${user.firstName}+' '+${user.lastName}">User Name</a>
                <a href="#" th:href="@{'/logout'}" class="navbar-link">Logout</a>
            </p>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form th:object="${visit}" th:action="@{'/user/' + ${user.id} + '/grade'} " method="post">
                <input type="hidden" th:field="*{id}"/>
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-11">
                                    <h1 class="panel-title">Edit Your Grade and Comment</h1>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Month:</label>
                                    <select class="form-control" th:field="*{month}">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="1">6</option>
                                        <option value="2">7</option>
                                        <option value="3">8</option>
                                        <option value="4">9</option>
                                        <option value="5">10</option>
                                        <option value="4">11</option>
                                        <option value="5">12</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Day:</label>
                                    <select class="form-control" th:field="*{day}">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="1">6</option>
                                        <option value="2">7</option>
                                        <option value="3">8</option>
                                        <option value="4">9</option>
                                        <option value="5">10</option>
                                        <option value="4">11</option>
                                        <option value="5">12</option>
                                        <option value="1">13</option>
                                        <option value="2">14</option>
                                        <option value="3">15</option>
                                        <option value="4">16</option>
                                        <option value="5">17</option>
                                        <option value="1">18</option>
                                        <option value="2">19</option>
                                        <option value="3">20</option>
                                        <option value="4">21</option>
                                        <option value="5">22</option>
                                        <option value="4">23</option>
                                        <option value="5">24</option>
                                        <option value="1">25</option>
                                        <option value="2">26</option>
                                        <option value="3">27</option>
                                        <option value="4">28</option>
                                        <option value="5">29</option>
                                        <option value="1">30</option>
                                        <option value="2">31</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Hour:</label>
                                    <select class="form-control" th:field="*{hour}">
                                        <option value="00:00">00:00</option>
                                        <option value="01:00">01:00</option>
                                        <option value="02:00">02:00</option>
                                        <option value="03:00">03:00</option>
                                        <option value="04:00">04:00</option>
                                        <option value="05:00">05:00</option>
                                        <option value="06:00">06:00</option>
                                        <option value="07:00">07:00</option>
                                        <option value="08:00">08:00</option>
                                        <option value="09:00">09:00</option>
                                        <option value="10:00">10:00</option>
                                        <option value="11:00">11:00</option>
                                        <option value="12:00">12:00</option>
                                        <option value="13:00">13:00</option>
                                        <option value="14:00">14:00</option>
                                        <option value="15:00">15:00</option>
                                        <option value="16:00">16:00</option>
                                        <option value="17:00">17:00</option>
                                        <option value="18:00">18:00</option>
                                        <option value="19:00">19:00</option>
                                        <option value="20:00">20:00</option>
                                        <option value="21:00">21:00</option>
                                        <option value="22:00">22:00</option>
                                        <option value="23:00">23:00</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Additional information </h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{description}"></textarea></div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
