<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{index.page.title}">Order a Doctor Logged-In</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a th:text="#{label.index.page.title}" class="navbar-brand" href="#" th:href="@{'/doctor/' + ${doctor.id} + '/logged'}">Order a Doctor</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!--                    <li class="active"><a href="#">Link </a></li>-->
                <!--                    <li><a href="#" th:href="@{'/find_doctor'}">Find Doctor</a></li>-->
                <li class="active"><a th:text="#{navbar.view.profile}" href="#" th:href="@{'/doctor/' + ${doctor.id} + '/show'}">View Profile</a></li>

            </ul>

            <p class="navbar-text navbar-right">
                <i th:text="#{navbar.signed.as}" >Signed in as</i>
                <a style="font-weight:bold" href="#" th:href="@{'/doctor/' + ${doctor.id} + '/show'}"
                   class="navbar-link" th:text="${doctor.firstName}+' '+${doctor.lastName}">Doc Name</a>
                <a th:text="#{navbar.button.logout}" href="#" th:href="@{'/logout'}" class="navbar-link">Logout</a>
            </p>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form th:object="${doctor}" th:action="@{'/doctor/' + ${doctor.id} + '/update'}" method="post">

                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p th:text="#{label.error.in.form}">Please Correct Errors Below</p>
                </div>

                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{accountType}"/>
                <input type="hidden" th:field="*{externalId}"/>
                <input type="hidden" th:field="*{image}"/>
                <input type="hidden" th:field="*{averageGrade}"/>
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-10">
                                    <h1 th:text="#{label.account.details}" class="panel-title">Account Details</h1>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label th:text="#{label.form.degree}">Degree:</label>
                                    <select class="form-control" th:field="*{degree}">
                                        <option th:remove="all">MD</option>
                                        <option th:remove="all">PhD</option>
                                        <option th:each="degreeVal : ${T(pl.polsl.orderadoctor.model.DegreeType).values()}"
                                                th:value="${degreeVal.name()}"
                                                th:text="${degreeVal.name()}">val</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('firstName')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label th:text="#{label.form.first.name}">First Name:</label>
                                    <input type="text" class="form-control" th:field="*{firstName}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('firstName')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('lastName')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label th:text="#{label.form.last.name}">Last Name:</label>
                                    <input type="text" class="form-control" th:field="*{lastName}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('lastName')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('city')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label th:text="#{label.form.city}">City:</label>
                                    <input type="text" class="form-control" th:field="*{city}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('city')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('city')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('street')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label th:text="#{label.form.street}">Street:</label>
                                    <input type="text" class="form-control" th:field="*{street}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('street')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('street')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group" th:class="${#fields.hasErrors('email')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                    <label th:text="#{label.form.email}">Email:</label>
                                    <input type="text" class="form-control" th:field="*{email}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('email')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('email')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label th:text="#{label.form.working.from}">Working hour from:</label>
                                    <select class="form-control" th:field="*{workingFrom}">
                                        <option value="00:00">00:00</option>
                                        <option value="01:00">01:00</option>
                                        <option value="02:00">02:00</option>
                                        <option value="03:00">03:00</option>
                                        <option value="04:00">04:00</option>
                                        <option value="05:00">05:00</option>
                                        <option value="06:00">06:00</option>
                                        <option value="07:00">07:00</option>
                                        <option value="08:00">08:00</option>
                                        <option value="09:00">09:00</option>
                                        <option value="10:00">10:00</option>
                                        <option value="11:00">11:00</option>
                                        <option value="12:00">12:00</option>
                                        <option value="13:00">13:00</option>
                                        <option value="14:00">14:00</option>
                                        <option value="15:00">15:00</option>
                                        <option value="16:00">16:00</option>
                                        <option value="17:00">17:00</option>
                                        <option value="18:00">18:00</option>
                                        <option value="19:00">19:00</option>
                                        <option value="20:00">20:00</option>
                                        <option value="21:00">21:00</option>
                                        <option value="22:00">22:00</option>
                                        <option value="23:00">23:00</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label th:text="#{label.form.working.to}">Working hour to:</label>
                                    <select class="form-control" th:field="*{workingTo}">
                                        <option value="0:00">00:00</option>
                                        <option value="00:00">00:00</option>
                                        <option value="01:00">01:00</option>
                                        <option value="02:00">02:00</option>
                                        <option value="03:00">03:00</option>
                                        <option value="04:00">04:00</option>
                                        <option value="05:00">05:00</option>
                                        <option value="06:00">06:00</option>
                                        <option value="07:00">07:00</option>
                                        <option value="08:00">08:00</option>
                                        <option value="09:00">09:00</option>
                                        <option value="10:00">10:00</option>
                                        <option value="11:00">11:00</option>
                                        <option value="12:00">12:00</option>
                                        <option value="13:00">13:00</option>
                                        <option value="14:00">14:00</option>
                                        <option value="15:00">15:00</option>
                                        <option value="16:00">16:00</option>
                                        <option value="17:00">17:00</option>
                                        <option value="18:00">18:00</option>
                                        <option value="19:00">19:00</option>
                                        <option value="20:00">20:00</option>
                                        <option value="21:00">21:00</option>
                                        <option value="22:00">22:00</option>
                                        <option value="23:00">23:00</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 th:text="#{label.form.about}" class="panel-title">About</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <textarea class="form-control" rows="3" th:field="*{about}"></textarea></div>
                            </div>
                        </div>
                    </div>

                    <button th:text="#{label.button.submit}" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
