<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order a Doctor Logged-In</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#" th:href="@{'/user/' + ${user.id} + '/logged'}">Order a Doctor</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
<!--                    <li class="active"><a href="#">Link </a></li>-->
                    <li><a href="#" th:href="@{'/user/' + ${user.id} + '/find_doctor'}">Find Doctor</a></li>
                    <li class="active"><a href="#" th:href="@{'/user/' + ${user.id} + '/show'}">View Profile</a></li>

                </ul>

                <p class="navbar-text navbar-right">Signed in as
                    <a style="font-weight:bold" href="#" th:href="@{'/user/' + ${user.id} + '/show'}"
                       class="navbar-link" th:text="${user.firstName}+' '+${user.lastName}">User Name</a>
                    <a href="#" th:href="@{'/logout'}" class="navbar-link">Logout</a>
                </p>


            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <form th:object="${user}" th:action="@{'/user/' + ${user.id} + '/update'}" method="post">

                    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        <p>Please Correct Errors Below</p>
                    </div>

                    <input type="hidden" th:field="*{id}"/>
                    <input type="hidden" th:field="*{accountType}"/>
                    <input type="hidden" th:field="*{externalId}"/>
                    <input type="hidden" th:field="*{image}"/>
                    <div class="pannel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-10">
                                        <h1 class="panel-title">Account Details</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3 form-group" th:class="${#fields.hasErrors('firstName')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                        <label>First Name:</label>
                                        <input type="text" class="form-control" th:field="*{firstName}" th:errorclass="has-error"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('firstName')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group" th:class="${#fields.hasErrors('lastName')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                        <label>Last Name:</label>
                                        <input type="text" class="form-control" th:field="*{lastName}" th:errorclass="has-error"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('lastName')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group" th:class="${#fields.hasErrors('city')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                        <label>City:</label>
                                        <input type="text" class="form-control" th:field="*{city}" th:errorclass="has-error"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('city')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('city')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group" th:class="${#fields.hasErrors('email')}
                                ? 'col-md-3 form-group has-error' : 'col-md-3 form-group'">
                                        <label>Email:</label>
                                        <input type="text" class="form-control" th:field="*{email}" th:errorclass="has-error"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('email')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('email')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
