<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{index.page.title}">Order a Doctor Logged-In</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"
            th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a th:text="#{label.index.page.title}" class="navbar-brand" href="#" th:href="@{'/doctor/' + ${doctor.id} + '/logged'}">Order a Doctor</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
<!--                    <li class="active"><a href="#">Link </a></li>-->
<!--                    <li><a href="#" th:href="@{'/find_doctor'}">Find Doctor</a></li>-->
                    <li><a th:text="#{navbar.view.profile}" href="#" th:href="@{'/doctor/' + ${doctor.id} + '/show'}">View Profile</a></li>

                </ul>

                <p class="navbar-text navbar-right">
                    <i th:text="#{navbar.signed.as}" >Signed in as</i>
                    <a style="font-weight:bold" href="#" th:href="@{'/doctor/' + ${doctor.id} + '/show'}"
                       class="navbar-link" th:text="${doctor.firstName}+' '+${doctor.lastName}">Doc Name</a>
                    <a th:text="#{navbar.button.logout}" href="#" th:href="@{'/logout'}" class="navbar-link">Logout</a>
                </p>


            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-8">
                                <h1 th:text="#{label.specialities}" class="panel-title">Specialities</h1>
                            </div>
                            <div class="col-md-2">
                                <a th:text="#{label.button.new}" class="btn btn-default btn-block" href="#" th:href="@{'/doctor/' + ${doctor.id} + '/speciality/new'}" role="button">New</a>
                            </div>
                            <div class="col-md-2">
                                <a th:text="#{label.button.back}" class="btn btn-default btn-block" href="#" th:href="@{'/doctor/' + ${doctor.id} + '/show'}" role="button">Back</a>
                            </div>
                        </div>

                    </div>

                    <div class="panel-body">

                        <div class="table-responsive" th:if="${not #lists.isEmpty(doctor.specialities)}">
                            <table class="table table-hover ">
                                <thead class="thead-inverse">
                                <tr>
                                    <th th:text="#{label.description}">Description</th>
                                    <th th:text="#{label.update}">Update</th>
                                    <th th:text="#{label.delete}">Delete</th>
                                </tr>
                                </thead>
                                <tr th:remove="all">
                                    <td>Speciality 1</td>
                                    <td><a href="#">Update</a></td>
                                    <td><a href="#">Delete</a></td>
                                </tr>
                                <tr th:remove="all">
                                    <td>Speciality 2</td>
                                    <td><a href="#">Update</a></td>
                                    <td><a href="#">Delete</a></td>
                                </tr>
                                <tr th:each="speciality : ${doctor.specialities}">
                                    <td th:text="${speciality.description}">Speciality 3</td>
                                    <td><a th:text="#{label.update}" href="#" th:href="@{'/doctor/' + ${doctor.id} + '/speciality/' + ${speciality.id} + '/update'}">Update</a></td>
                                    <td><a th:text="#{label.delete}" href="#" th:href="@{'/doctor/' + ${doctor.id} + '/speciality/' + ${speciality.id} + '/delete'}">Delete</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
